<div class="header" th:fragment="bodyHeader">
    <!--  <ul class="nav nav-pills pull-right">-->
    <!--    <li><a href="/">Home</a></li>-->
    <!--  </ul>-->
    <a href="/"><h3 class="text-muted">이커머스</h3></a>
    <div id="categories">
        <h4>Category</h4>
        <span class="category-link"><a th:href="@{/categories/top}">TOP</a></span>
        <span class="category-link"><a th:href="@{/categories/outer}">OUTER</a></span>
        <span class="category-link"><a th:href="@{/categories/pants}">PANTS</a></span>
        <span class="category-link"><a th:href="@{/categories/onepiece}">ONEPIECE</a></span>
        <span class="category-link"><a th:href="@{/categories/skirt}">SKIRT</a></span>
        <span class="category-link"><a th:href="@{/categories/sneakers}">SNEAKERS</a></span>
        <span class="category-link"><a th:href="@{/categories/shoes}">SHOES</a></span>
        <span class="category-link"><a th:href="@{/categories/head_wear}">HEAD WEAR</a></span>
        <span class="category-link"><a th:href="@{/categories/accessory}">ACCESSORY</a></span>
        <span class="category-link"><a th:href="@{/categories/test}">test</a></span>
    </div>
</div>