<div class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="bodyHeader">
    <div id="categories" class="container px-4 px-lg-5">
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/top}">TOP</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/outer}">OUTER</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/pants}">PANTS</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/onepiece}">ONEPIECE</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/skirt}">SKIRT</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/sneakers}">SNEAKERS</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/shoes}">SHOES</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/head_wear}">HEAD WEAR</a></span>
        <span class="nav-item"><a class="nav-link fs-4 fw-bold" th:href="@{/categories/accessory}">ACCESSORY</a></span>
    </div>
</div>